.form-right{
    overflow: hidden;
    border-radius: 20px;
    padding: 41px 76px 71px 76px;
    border: 1px solid #E8E8E8;
    box-shadow: 0 18px 40px rgba(0,0,0,.1);
    position: relative;
    background: #fff;
    width: 500px;
    margin: 0 auto;
}
.forma-grid__left{
    position: relative;
    z-index: 5;
}
.forma-grid__left.no-active{
    z-index: -1;
    opacity: 0;
}
.forma-grid__left-step{
    font-size: 16px;
    font-family: 'Montserrat Regular';
    color: #BEBEBE;
    margin-bottom: 9px;
}
.forma-grid__left-step span{
    font-family: 'Montserrat Bold';
}
.forma-grid__left-title{
    font-size: 24px;
    font-family: 'Montserrat Bold';
    color: #232323;
    margin-bottom: 22px;
}

.forma-grid__wrap.error {
    color: #FF4600;
}

.forma-grid__wrap.error .forma-title {
    color: #D95C3A;
}

.forma-grid__wrap.error .forma-input {
    border: 1px solid #D95C3A;
}
.form-date__grid{
    grid-column-gap: 50px;
    grid-template-columns: 1fr 2fr 1fr;
}

.forma-title {
    font-size: 14px;
    font-family: "Montserrat Bold";
    color: #000;
    margin-bottom: 9px;
}

.forma-title span {
    color: #D95C3A;
}

.forma-label {
    display: block;
    margin-bottom: 36px;
    position: relative;
}

.forma-label:before {
    position: absolute;
    left: 0;
    top: 13px;
    font-family: 'FontAwesome';
    font-weight: 900;
    color: #BEBEBE;
}
.forma-label.required .forma-input{
    border-bottom: 1px solid #D95C3A;
}
.forma-label.required:before{
    color: #D95C3A;
}


.forma-label--name:before {
    content: '\f007';
}

.forma-label--phone:before {
    content: '\f095';
}
.forma-label--email:before {
    content: '\f0e0';
}

.forma-label--arrow:after {
    position: absolute;
    content: '\f107';
    font-family: 'FontAwesome';
    font-weight: 900;
    top: 16px;
    right: 5px;
    left: initial;
}

.forma-input {
    padding: 13px 5px 13px 35px;
    width: 100%;
    font-size: 14px;
    font-family: "Montserrat Bold";
    color: #000;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid #BEBEBE;
    background: #fff;
}
.forma-input:focus{
    border-bottom: 1px solid #FFA200;
}
/* checkbox */
.consent{
    position: relative;
}
.consent input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 10px;
}
.consent-text{
    padding-left: 40px;
    font-size: 12px;
    font-family: 'Montserrat Regular';
    color: #6D6D6D;
    position: relative;
    cursor: pointer;
}
.consent:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid #FFA200;
}
.consent-text:after{
    position: absolute;
    content: '\f00c';
    font-family: 'FontAwesome';
    left: 4px;
    top: 0;
    color: #FFA200;
    font-size: 20px;
    display: none;
}
.consent input:checked + .consent-text:after{
    display: block;
}
.consent-text__link{
    color: #FFA200;
}

.forma-grid__wrap{
    margin-top: 37px;
}
.next-step__link{
    padding: 26px 0;
    font-size: 16px;
    font-family: 'Montserrat Bold';
    display: block !important;
    text-align: center;
    border: none;
    width: 100%;
}
